<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_mini"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RCoffee"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.view.activity.product.ProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.address.SelectAddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.address.AddAddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.address.AddressActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.account.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.review.AddReviewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.review.ReviewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.voucher.SelectVoucherActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.account.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.order.OrderInnformationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.order.OrderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.basket.BastketActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.product.ProductInformationActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activity.SplashSceen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>